.customers {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.customers__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  margin: 0;
  padding: 0;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  background-color: var(--primary-white-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: var(--animation-time);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 90px;
  }
}
