.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer__container {
  display: flex;
}

.footer__contacts {
  margin-right: 70px;
}

.footer__address {
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer__item {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  transition: var(--animation-time);
}

.footer__list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-socials {
  margin-top: 12px;
  margin-right: 93px;
}

.footer-sosials__title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-sosials__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-sosial__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--primary-white-color);
  transition: var(--animation-time);

  &:hover,
  &:focus {
    fill: var(--primary-white-color);
    background: var(--accent-color);
  }
}

.footer-sub {
  position: relative;
  margin-top: 12px;
}

.footer-sub__label {
  display: flex;
  flex-direction: column;
}

.footer-sub__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
  margin-bottom: 12px;
}

.footer-sub__input {
  width: 358px;
  height: 50px;
  display: block;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  background: rgba(0, 0, 0, 0);

  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  margin-right: 10px;
  padding-left: 16px;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &:placeholder-shown {
    outline: transparent;
    outline-color: var(--accent-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }

  &:not(:placeholder-shown) {
    outline: transparent;
    border: 1px solid var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }

  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.footer-sub__btn {
  display: block;
  display: flex;
  position: absolute;
  right: -200px;
  height: 50px;
  bottom: 50px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  justify-content: center;
}

.footer-sub__bt--txt-mg {
  margin-right: 10px;
}
