.team {
  padding: 60px 0;
  background-color: #f5f4fa;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;


  @media screen and (min-width: 1200px) {
  font-size: 36px;
  margin-bottom: 30px;
  }
}

.team__list {
  display: flex;
    flex-direction: column;
    gap: 30px;


    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.team__img {

  @media screen and (min-width: 768px) {
      width: 354px;
  }

  @media screen and (min-width: 1200px) {
      width: 270px;
      height: 260px;
  }

}

.team__item {
  background-color: #ffffff;
  display: block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  
}

.team__card {
  padding: 30px 0 24px 0;

  @media screen and (min-width: 1200px) {
      padding: 30px 0 30px 0;
  }
}

.team__name {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
}

.team__prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 16px;
}

.team__sosial-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team__sosial-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  fill: #afb1b8;
  transition: var(--animation-time);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
  }
}
